{% for product in products_list_all %}
<div class="card my-2" style="width: 17rem; border-width: 5px; margin-right: 2px;">
        <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap" style='height: 200px; width: 250px; object-fit: contain'>
        <div class="card-body">
            <h3 class="card-title" style="color: rgb(204, 1, 255)">{{ product.title }}</h4>
            <h5 class="card-title" style="color: rgb(255, 6, 213);">৳ {{ product.price }}</h5>
            <p class="card-text">{{ product.description|linebreaks|truncatewords:8 }}</p>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'product_list:product_detail' pk=product.id %}" class="btn btn-primary">Detail</a>
                </div>
                <div class="col-sm-6">
                    {% include '../products/cart.html' with cart=cart product=product %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}