{% extends 'base/base.html' %}

{% block head %}
    {% include 'base/navbar.html' %}
{% endblock %}

{% block content %}
        <div class="row">
            {% for product in products_list_all %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap" style='height: 200px; width: 250px; object-fit: contain'>
                <div class="card-body">
                    <h4 class="card-title">{{ product.title }}</h4>
                    <h5 class="card-title">৳ {{ product.price }}</h5>
                    <p class="card-text">{{ product.description|linebreaks|truncatewords:8 }}</p>
                    <div class="row">
                        <div class="col-sm-6"><a href="{% url 'product_list:product_detail' pk=product.id %}" class="btn btn-primary">Detail</a></div>
                        <div class="col-sm-6">
                            {% include '../products/cart.html' with cart=cart product=product %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}