{% extends 'base/base.html' %}

{% block head %}
    {% include 'base/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <img  src="{{ product_item_detail.image.url }}" style='height: 350px; width: 300px; object-fit: contain'>
                    <h5 class="card-title">{{ product_item_detail.title }}</h5>
                    <h6 class="card-title">{{ product_item_detail.price }}</h6>
                    <p class="card-text">{{ product_item_detail.description }}</p>
            </div>
            <div class="col-sm-3">
                <form method="POST" class="quantity-form">
                    {% csrf_token %}
                    <label for="">Quantity:</label>
                    <input type="hidden" class="produt-cart-id" name="produt-cart-name" value="{{ product_item_detail.id }}">
                    <input type="hidden" class="in-stock-amount" name="in-stock-amount" value="{{ product_item_detail.stock }}"> 
                    <input type="text" class="qty-name-id" name="qty-name" value="{{ cart_amount_count }}">
                    <p style="color: red;" class="error-cart-amount"></p>
                </form>
                {% include './cart.html' with cart=cart product=product_item_detail %}
            </div>
        </div>
    </div>
{% endblock %}