{% extends 'base/base.html' %}

{% block head %}
    {% include 'base/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                    <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ product_item_detail.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ product_item_detail.title | truncatechars:9 | title }}</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
            </div>
            <div class="col-sm-3">
                <form method="POST" class="quantity-form">
                    {% csrf_token %}
                    <label for="">Qty:</label>
                    <input type="hidden" class="produt-cart-id" name="produt-cart-name" value="{{ product_item_detail.id }}">
                    <input type="hidden" class="in-stock-amount" name="in-stock-amount" value="{{ product_item_detail.stock }}"> 
                    <input type="text" class="qty-name-id" name="qty-name" value="{{ cart_amount_count }}">
                    <p style="color: red;" class="error-cart-amount"></p>
                </form>
                {% include './cart.html' with cart=cart product=product_item_detail %}
            </div>
        </div>
    </div>
{% endblock %}